.button {
	font-size: 1.1rem;
	font-weight: 550;
	padding: 0.45rem;
	/* margin: 1rem; */
	width: 150px;
	background: var(--Background_Colour);
	cursor: pointer;
	border: none;
	border-radius: 50px;
	font-family: var(--Poppins);
	transition: all 2s ease-in-out 3s;
	-moz-transition: all 2s ease-in-out 3s; /* Firefox 4 */
	-webkit-transition: all 2s ease-in-out 3s; /* Safari and Chrome */
	-o-transition: all 2s ease-in-out 3s; /* Opera */
	-ms-transition: all 2s ease-in-out 3s; /* Explorer 10 */
}

.next {
	color: #003af0;
	box-shadow: 3px 3px 16px -1px rgba(10, 99, 169, 0.2),
		-10px -10px 10px -1px rgba(255, 255, 255, 0.9);
}

.prev {
	color: #f0007e;
	box-shadow: inset 3px 3px 16px -1px rgba(10, 99, 169, 0.2),
		inset -10px -10px 10px -1px rgba(255, 255, 255, 0.9);
}
.button i {
	text-align: center;
}

.button.prev i {
	margin-right: 0.5rem;
	display: none;
}

.button.prev:hover i {
	margin-right: 0.5rem;
	display: unset;
}

.button.next i {
	margin-left: 0.5rem;
	display: none;
}

.button.next:hover i {
	margin-left: 0.5rem;
	display: unset;
}
