.container {
    height: 100%;
    padding: 0px 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 100%;
    padding-top: 150px;
}
.error p {
    font-size: 1.5rem;
    font-family: var(--Poppins);
    font-weight: 600;
    color: black;
    margin-left: 10px;
}
.error i svg {
    height: 100%;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error i path {
    color: red;
}

.textBox {
    height: 90%;
    min-height: 90%;
    max-height: 90%;
    width: 85%;
    overflow-y: scroll;
}

.textBox::-webkit-scrollbar {
    width: 5px;
}

.textBox::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
}

.textBox::-webkit-scrollbar-track {
    background-color: rgb(216, 215, 215);
}

.paragraph {
    height: fit-content;
    font-size: 1rem;
    font-family: var(--Poppins);
    font-weight: 600;
}

.wrapper {
    display: inline-flex;
    margin-bottom: 10px;
}
.wrapper .icon {
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.icon span {
    height: 40px;
    width: 40px;
    display: block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset -3px -3px 7px #ffffff73,
        inset 3px 3px 5px rgba(94, 104, 121, 0.283);
    position: relative;
    z-index: 2;
}
.icon span img {
    width: 60%;
    height: 60%;
}
.icon .tooltip {
    position: absolute;
    top: 0px;
    background: #fff;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.icon:hover .tooltip {
    top: -50px;
    opacity: 1;
    pointer-events: auto;
}

.icon .tooltip:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background: #fff;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover span,
.icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

/* 1st Emotion */
.icon:nth-child(1) span {
    outline: 7px solid var(--Happy_Colour);
}
.wrapper :nth-child(1) .tooltip,
.wrapper :nth-child(1) .tooltip:before {
    background: var(--Happy_Colour);
}

/* 2nd Emotion */
.icon:nth-child(2) span {
    outline: 7px solid var(--Anger_Colour);
}

.wrapper :nth-child(2) .tooltip,
.wrapper :nth-child(2) .tooltip:before {
    background: var(--Anger_Colour);
}

/* 3rd Emotion */
.icon:nth-child(3) span {
    outline: 7px solid var(--Fear_Colour);
}

.wrapper :nth-child(3) .tooltip,
.wrapper :nth-child(3) .tooltip:before {
    background: var(--Fear_Colour);
}

/* 4th Emotion */
.icon:nth-child(4) span {
    outline: 7px solid var(--Sad_Colour);
}

.wrapper :nth-child(4) .tooltip,
.wrapper :nth-child(4) .tooltip:before {
    background: var(--Sad_Colour);
}

/* 6th Emotion */
.icon:nth-child(5) span {
    outline: 7px solid var(--Disgust_Colour);
}

.wrapper :nth-child(5) .tooltip,
.wrapper :nth-child(5) .tooltip:before {
    background: var(--Disgust_Colour);
}

/* 7th Emotion */
.icon:nth-child(6) span {
    outline: 7px solid var(--Neutral_Colour);
}

.wrapper :nth-child(6) .tooltip,
.wrapper :nth-child(6) .tooltip:before {
    background: var(--Neutral_Colour);
}

/* 8th Emotion */
.icon:nth-child(7) span {
    outline: 7px solid var(--Surprised_Colour);
}

.wrapper :nth-child(7) .tooltip,
.wrapper :nth-child(7) .tooltip:before {
    background: var(--Surprised_Colour);
}

/* Media Queries */

@media screen and (min-width: 1900px) {
    .textBox {
        height: 80%;
        min-height: 80%;
        max-height: 80%;
        width: 85%;
        overflow-y: scroll;
    }

    .textBox::-webkit-scrollbar {
        width: 5px;
    }

    .textBox::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 20px;
    }

    .textBox::-webkit-scrollbar-track {
        background-color: rgb(216, 215, 215);
    }

    .paragraph {
        height: fit-content;
        font-size: 1.1rem;
        font-family: var(--Poppins);
    }
}
@media (min-width: 1024px) and (max-width: 1400px) {
    .container {
        padding: 10px;
    }
    .textBox {
        width: 90%;
    }
}

@media (min-width: 800px) and (max-width: 1023px) {
    .container {
        padding: 0px;
    }

    .textBox {
        height: 80%;
        min-height: 80%;
        max-height: 80%;
        width: 100%;
        overflow-y: scroll;
    }

    .paragraph {
        font-size: 1rem;
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    .container {
        padding: 0px;
    }
    .wrapper {
        width: 100%;
        height: 15%;
        overflow-x: scroll;
        overflow-y: visible;
    }
    .wrapper::-webkit-scrollbar {
        width: 0px;
    }
    .icon span {
        height: 30px;
        width: 30px;
    }
    .icon span img {
        width: 70%;
        height: 70%;
    }
    .icon .tooltip {
        font-size: 15px;
        padding: 5px 7px;
    }
    .icon:hover .tooltip {
        top: -40px;
    }
    .textBox {
        height: 80%;
        min-height: 80%;
        max-height: 80%;
        width: 100%;
        overflow-y: scroll;
    }

    .paragraph {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 499px) {
    .container {
        padding: 0px;
    }
    .wrapper {
        overflow-x: scroll;
        overflow-y: visible;
    }
    .wrapper::-webkit-scrollbar {
        width: 0px;
    }
    .icon span {
        height: 30px;
        width: 30px;
    }
    .icon span img {
        width: 70%;
        height: 70%;
    }
    .icon .tooltip {
        font-size: 15px;
        padding: 5px 7px;
    }
    .icon:hover .tooltip {
        top: -40px;
    }

    .textBox {
        height: 80%;
        min-height: 80%;
        max-height: 80%;
        width: 100%;
        overflow-y: scroll;
    }

    .paragraph {
        font-size: 0.7rem;
    }
}
