.headerBar {
    width: 100%;
    height: 70x;
    background: #ffffff;
    position: sticky;
}

.container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.leftContent h1 {
    font-size: 1.4rem;
    font-family: var(--Comfortaa);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--Main_Colour);
}

.rightContent ul {
    list-style: none;
    text-transform: none;
    display: inline-flex;
}

.rightContent ul li {
    padding: 0 20px;
    font-size: 1rem;
    font-family: var(--Poppins);
    font-weight: 500;
}

/* Intro Section */
.introSection {
    height: 22rem;
    background-color: #7100b6;
    position: relative;
}

.wave {
    position: absolute;
    bottom: -190px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -2;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 200px;
    transform: rotateY(180deg);
}

.wave .shapeFill {
    fill: #7100b6;
}

.introContents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introContentTitle {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    color: #ffffff;
}

.introContentTitle h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 93px;
    font-family: var(--Roboto);
}

.introContentInfo {
    margin-top: 10px;
    width: 70%;
    text-align: center;
}

.introContentInfo p {
    font-size: 1.2rem;
    color: #ffffff;
    font-family: var(--Comfortaa);
    font-weight: 600;
}

.introContentButton {
    margin-top: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introContentButton button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 1.5rem;
    background: #ab58d6;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    width: 12rem;
    font-size: 1.2rem;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
    font-weight: 570;
    font-family: var(--Roboto);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: inset 4px 4px 8px 0px #7b00b166;
}

.introContentImage {
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introContentImage img {
    width: 100%;
    height: 100%;
}

/* Emotions section */
.emotionsSection {
    width: 100%;
    margin-top: 10rem;
    padding-top: 0.5rem;
}
.emotionsContents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.emotionContentTitle {
    font-size: 1.5rem;
    font-family: var(--Poppins);
    font-weight: 600;
}

.emotionsList {
    width: 100%;
    height: 3rem;
}

.emotionsList ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emotionsList ul li {
    font-size: 1.2rem;
    font-family: var(--Poppins);
    font-weight: 500;
    color: #000000;
    padding: 0.7rem 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    user-select: none;
    overflow: hidden;
    font-weight: bold;
    font-family: var(--Roboto);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #ffffff;
    transition: 0.5s ease-in-out;
}

.emotionsList ul li:hover,
.emotionsList ul li.active,
.emotionsList ul li:focus {
    border: 2px solid var(--Li_Colour);
    /* background-color: rgba(var(--Li-Colour), 0.2); */
}

.emotionInfoList {
    margin-top: 10px;
    width: 27%;
    outline: 1px solid var(--Li_Colour);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.2s ease-in-out;
    box-shadow: 1px 2px 5px 0px var(--Li_Colour);
}

.emotionInfoList ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.emotionInfoList ul li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}
.emotionInfoList ul li i {
    float: left;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Li_Colour);
}
.emotionInfoList ul li p {
    float: right;
    width: 70%;
    font-size: 1rem;
    font-family: var(--Roboto);
}
