.leftHeading {
    color: var(--Main_Colour);
    font-size: 1.8rem;
    font-weight: 800;
    font-family: var(--Comfortaa);
}
.stepsContent {
    margin-top: 30px;
}
.stepsContent h3 {
    font-size: 1.3rem;
    font-family: var(--Poppins);
    color: var(--Main_Colour);
}
.stepsContent p {
    font-size: 1rem;
    margin-top: 15px;
    font-family: var(--Roboto);
    height: 3.5rem;
    max-height: 3.5rem;
}

.displayNone {
    display: none;
}

.progressBar {
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: 800;
    cursor: pointer;
}

.progressBar li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.progressBar li div {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    line-height: 25px;
    border: 1px solid #fff;
    z-index: 10;
    background-color: var(--Tint_One);
    color: var(--Tint_Two);
    margin: 21px 20px 20px 20px;
}
.progressBar li div i {
    display: flex;
    align-items: center;
    justify-content: center;
}
.progressBar li p {
    font-family: var(--Poppins);
    font-size: 0.9rem;
    color: var(--Tint_Two);
}
.progressBar li div::after {
    content: "";
    position: absolute;
    height: 4.375rem;
    width: 0.125rem;
    background-color: var(--Tint_Two);
    z-index: 1;
    bottom: -1px;
}

.progressBar li div::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    display: grid;
    place-items: center;
    line-height: 25px;
    z-index: 10;
    background-color: var(--Tint_One);
    color: var(--Tint_Two);
    cursor: pointer;
    border: 1px solid var(--Tint_Two);
}

.progressBar li div i {
    z-index: 11;
}
.first::after {
    display: none;
}

.progressBar li div.active::after {
    background-color: var(--Main_Colour);
    color: var(--Main_Colour);
}

.progressBar li div.active::before {
    color: var(--Main_Colour);
    border: 1px solid var(--Main_Colour);
}

.progressBar li.active p {
    color: var(--Main_Colour);
}
.progressBar li p ~ div.active {
    color: var(--Main_Colour);
}

/* Media Queries */

@media screen and (min-width: 1900px) {
    .leftHeading {
        font-size: 3rem;
    }
    .stepsContent {
        margin-top: 60px;
    }
    .stepsContent h3 {
        font-size: 2.5rem;
    }
    .stepsContent p {
        font-size: 2rem;
        margin-top: 30px;
        height: 8rem;
        max-height: 8rem;
    }

    .progressBar {
        margin-top: 50px;
        font-size: 1.8rem;
        font-weight: 800;
    }

    .progressBar li div {
        width: 60px;
        height: 60px;
        line-height: 40px;
        margin: 31px 20px 30px 20px;
    }

    .progressBar li p {
        font-size: 1.5rem;
    }
    .progressBar li div::after {
        height: 7.4rem;
        width: 0.225rem;
        z-index: 1;
        bottom: -1px;
    }

    .progressBar li div::before {
        width: 60px;
        height: 60px;
        line-height: 40px;
        z-index: 10;
    }
}

@media (min-width: 1500px) and (max-width: 1899px) {
    .leftHeading {
        font-size: 2.7rem;
    }
    .stepsContent {
        margin-top: 20px;
    }
    .stepsContent h3 {
        font-size: 2rem;
    }
    .stepsContent p {
        font-size: 1.4rem;
        margin-top: 30px;
        height: 3rem;
        max-height: 3rem;
    }

    .progressBar {
        margin-top: 20px;
        font-size: 1.1rem;
    }

    .progressBar li div {
        width: 30px;
        height: 30px;
        line-height: 40px;
        margin: 31px 20px 30px 20px;
    }

    .progressBar li p {
        font-size: 1.2rem;
    }
    .progressBar li div::after {
        height: 5.6rem;
        width: 0.225rem;
        z-index: 1;
        bottom: -1px;
    }

    .progressBar li div::before {
        width: 30px;
        height: 30px;
        line-height: 40px;
        z-index: 10;
    }
}

@media (min-width: 1200px) and (max-width: 1499px) {
    .leftHeading {
        font-size: 2.2rem;
    }
    .stepsContent {
        margin-top: 10px;
    }
    .stepsContent h3 {
        font-size: 1.5rem;
    }
    .stepsContent p {
        font-size: 1.1rem;
        margin-top: 20px;
        height: 3rem;
        max-height: 3rem;
    }

    .progressBar {
        margin-top: 20px;
        font-size: 1.1rem;
    }

    .progressBar li div {
        width: 30px;
        height: 30px;
        line-height: 40px;
        margin: 21px 20px 20px 20px;
    }

    .progressBar li p {
        font-size: 0.9rem;
    }
    .progressBar li div::after {
        height: 4.3rem;
        width: 0.225rem;
        z-index: 1;
        bottom: -1px;
    }

    .progressBar li div::before {
        width: 30px;
        height: 30px;
        line-height: 40px;
        z-index: 10;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .leftHeading {
        font-size: 2rem;
    }
    .stepsContent {
        margin-top: 20px;
    }
    .stepsContent h3 {
        font-size: 1.1rem;
    }
    .stepsContent p {
        font-size: 1rem;
        margin-top: 10px;
        height: 3rem;
        max-height: 3rem;
    }

    .progressBar {
        margin-top: 30px;
        font-size: 1rem;
    }

    .progressBar li div {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 11px 20px 20px 20px;
    }

    .progressBar li p {
        font-size: 1rem;
    }
    .progressBar li div::after {
        height: 3.8rem;
        width: 0.225rem;
        z-index: 1;
        bottom: -1px;
    }

    .progressBar li div::before {
        width: 30px;
        height: 30px;
        line-height: 30px;
        z-index: 10;
    }
}

@media (min-width: 800px) and (max-width: 1023px) {
    .leftHeading {
        font-size: 1.5rem;
    }
    .stepsContent {
        margin-top: 20px;
    }
    .stepsContent h3 {
        font-size: 1rem;
    }
    .stepsContent p {
        font-size: 0.9rem;
        margin-top: 20px;
        height: 3rem;
        max-height: 3rem;
    }

    .progressBar {
        margin-top: 20px;
        font-size: 1rem;
    }

    .progressBar li div {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 21px 20px 20px 20px;
    }

    .progressBar li p {
        font-size: 0.8rem;
    }
    .progressBar li div::after {
        height: 4.5rem;
        width: 0.225rem;
        z-index: 1;
        bottom: -1px;
    }

    .progressBar li div::before {
        width: 30px;
        height: 30px;
        line-height: 30px;
        z-index: 10;
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    .leftHeading {
        font-size: 1.5rem;
    }
    .stepsContent {
        margin-top: 30px;
    }
    .stepsContent h3 {
        font-size: 1rem;
    }
    .stepsContent p {
        font-size: 0.9rem;
        margin-top: 30px;
        height: 3rem;
        max-height: 3rem;
    }

    .progressBar {
        margin-top: 20px;
        font-size: 1.2rem;
    }

    .progressBar li div {
        width: 20px;
        height: 20px;
        line-height: 30px;
        margin: 21px 20px 20px 20px;
    }

    .progressBar li p {
        font-size: 0.7rem;
    }
    .progressBar li div::after {
        height: 3.5rem;
        width: 0.225rem;
        z-index: 1;
        bottom: -1px;
    }

    .progressBar li div::before {
        width: 30px;
        height: 30px;
        line-height: 30px;
        z-index: 10;
    }
}

@media screen and (max-width: 499px) {
    .leftside {
        padding: 0.2rem 0.1rem;
    }

    .leftHeading {
        font-size: 1.3rem;
    }
    .stepsContent {
        margin-top: 30px;
    }
    .stepsContent h3 {
        font-size: 0.9rem;
    }
    .stepsContent p {
        font-size: 0.8rem;
        margin-top: 20px;
        height: 4rem;
        max-height: 4rem;
    }

    .progressBar {
        margin-top: 10px;
        font-size: 0.9rem;
    }

    .progressBar li div {
        width: 1.8rem;
        height: 1.8rem;
        line-height: 30px;
        margin: 21px 0px 20px 10px;
    }

    .progressBar li p {
        font-size: 0.6rem;
    }
    .progressBar li div::after {
        height: 4.4rem;
        width: 0.155rem;
        z-index: 1;
        bottom: -1px;
    }

    .progressBar li div::before {
        width: 1.8rem;
        height: 1.8rem;
        line-height: 30px;
        z-index: 10;
    }
}
