.button {
	font-size: 1.1rem;
	font-weight: 580;
	padding: 0.45rem;
	width: 150px;
	background: var(--Background_Colour);
	cursor: pointer;
	border: none;
	border-radius: 50px;
	font-family: var(--Poppins);
	transition: display 20s ease ;
	-moz-transition: display 20s ease ; /* Firefox 4 */
	-webkit-transition: display 20s ease ; /* Safari and Chrome */
	-o-transition: display 20s ease ; /* Opera */
	-ms-transition: display 20s ease-in-out ; /* Explorer 10 */
	display: flex;
	justify-content: center;
	align-items: center;
}

.next {
	color: #003af0;
	box-shadow: 3px 3px 16px -1px rgba(10, 99, 169, 0.2),
		-10px -10px 10px -1px rgba(255, 255, 255, 0.9);
}

.prev {
	color: #f0007e;
	box-shadow: inset 3px 3px 16px -1px rgba(10, 99, 169, 0.2),
		inset -10px -10px 10px -1px rgba(255, 255, 255, 0.9);
}

.button i {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button.prev i {
	margin-right: 0.5rem;
	display: none;
}

.button.prev:hover i {
	margin-right: 0.5rem;
	display: flex;
}

.button.next i {
	margin-left: 0.5rem;
	display: none;
}

.button.next:hover i {
	margin-left: 0.5rem;
	display:flex;
} 
