.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,#d2001a,#9733ee);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 85%;
    background:var(--Background_Colour);
    border-radius: 20px;
}

.leftside{
    width: 30%;
    height:100%;
    float: left;
    background: #F0D8FF;
    padding:20px 30px;
    box-sizing:border-box;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rightside{
    width: 70%;
    height:100%;
    float: right;
    padding:20px 30px;
}

.rightside .screensBox{
    height: 85%;
    transition: all 2s ease-in ;
}

.rightside .buttonContainer{
    height: 15%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
}