@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Background_Colour: #ebeef1;
    --Main_Colour: #9400ef;
    --Tint_One: #f0d8ff;
    --Tint_Two: #e1b2ff;
    --TE_Text_Color: #f0f0f0;
    --TE_Background_Color: #4d367d;
    --Emoji_Bac_Color: #ececec;
    --Happy_Colour: #f7aef8;
    --Sad_Colour: #72ddf7;
    --Anger_Colour: #b388eb;
    --Fear_Colour: #d8e2dc;
    --Calm_Colour: #8aea92;
    --Disgust_Colour: #f6d0b1;
    --Neutral_Colour: #dbf4a7;
    --Surprised_Colour: #be92a2;
    --Comfortaa: "Comfortaa", cursive;
    --Poppins: "Poppins", sans-serif;
    --Roboto: "Roboto", sans-serif;
    --Space: -4px;
}
